body {
    font-family:arial;
    background-color: #c1deeb;
}
h2{
    text-transform: uppercase;
}
input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: solid 2px #BBB;
}
div {
    margin:10px 0px;
}
button {
    padding:10px;
    background-color:#b409f8;
    color: #FFFFFF;
    border: 0px;
    cursor:pointer;
    border-radius: 5px;
}
#container{
   text-align: center;
   margin: 0px;
   top: 35%;
   position: absolute;
   left: 40%;
}